# Python
__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
*.pyo
*.pyd

# Env
.venv/
.env
.env.*

# Django
staticfiles/
static/
media/
*.sqlite3
/db.sqlite3

# IDE
.vscode/
.idea/
.DS_Store

# Node
node_modules/

# pytest
.pytest_cache/

# Build
/dist/
/build/
